services:
  backend:
    container_name: backend-dev
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    volumes:
      - .:/code
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
    depends_on:
      - redis
    stdin_open: true
    tty: true
  redis:
    container_name: redis_dev
    image: "redis/redis-stack:latest"
    ports:
      - ${REDIS_PORT}:6379
